# Server configuration
PORT=3000

# MONGODB connection string
MONGO_URI="mongodb+srv://<user_id>:<password>@cluster0.aaslfui.mongodb.net/spotify-backend"

# JWT secret
JWT_SECRET=" your jwt key which is set by you. "

# bcrypt salt rounds
SALT_ROUNDS=10


# ImageKit credentials
IMAGEKIT_PUBLIC_KEY=""
IMAGEKIT_PRIVATE_KEY=""
IMAGEKIT_URL_ENDPOINT="https://ik.imagekit.io/your_username"